<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Manager Pro</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Ваши кастомные стили -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <div class="container">
            <a class="navbar-brand" href="/">Task Manager Pro</a>
            <div class="navbar-nav">
                <a class="nav-link" href="/tasks">Все задачи</a>
                <a class="nav-link" href="/friends">Друзья</a>
            </div>
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <!-- Bootstrap JS -->
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <!-- Ваши скрипты -->
    <script src="/static/js/main.js"></script>
</body>
</html>